.media {
    all: unset;
}

.media video,
.media img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-width: 100%;
    max-height: calc(100vh - var(--control-bar-height) - 100px);
}

.label {
    font-family: monospace;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
}
