body {
    margin: 0;
    background: #0e0e0e;
    color: #999999;
}
* {
    box-sizing: border-box;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.media video,
.media img {
    height: 100%
    width: 100%
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.media {
    /* height: 100% */
    /* width: 100% */
    /* height: auto; */
    /* display: inline-flex; */
    /* flex-direction: column; */
    font-family: monospace;
}

.media figcaption {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
}
